.lb1 {
    float: left;
}

.lb2 {
    float: left;
}

.buttonsContainer {
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}

.buttons {
	float:left;
    margin-top: 50%;
}
table{
	float:left;
}